.item-card{
    width:14em;
    height: 20em;
    padding: 1em;
    border-style:solid;
}

.item-card:hover{
    cursor: pointer;
}

.star {
    stroke: black;
    stroke-width: 2px;
    color: var(--yellow);
    margin-bottom: 1em;
    padding: 0.2em;
    
}

.cat-page{
    font-family: Lato;
    padding: 7em;
}

.image {
    width:14em;
    height:10em;
    object-fit: cover;
}

.item-row {
    display:flex;
    column-gap: 4em;
    grid-row-gap: 4em;
    width:90vw;
    flex-wrap: wrap;
   
}

.item-price {
font-size: 1.5em;
font-weight:700;
}

.item-name {
    margin-bottom: 1em;
}

.cat-title{
    font-size: 3em;
    font-family:Lato;
    font-weight:1000;
    text-transform: uppercase;
    margin-bottom:0.4em;
}

.num-btn {
    background:none;
    padding: 0.5em 0.7em 0.5em 0.7em;
    border-style:solid;
    border-color:black;
    margin-left:1em;
    cursor: pointer;
    border-radius:5px;
    font-weight:1000;
    font-family: Lato;

}

.num-btn.selected {
    background: var(--yellow)
}

.btn-block {
    margin-top: 4em;
}